.tableContainer {

    margin-top: 0.5em;
    padding: 15px;

}

.tBodyStyle {

 
}

.deletePng {

    width: 30px !important;
    transition: 1s !important;
    position: relative !important;

}

.deletePng:hover {
 
       transform: scale(1.5);
    
    }

.tableStyle {

    background-color: transparent !important;
    padding: 10px;
}

.tHeadStyle {

    background-color: transparent !important;
    border-bottom: 1px solid white;
    border-radius: 90px !important;
    padding: 5px !important;
    color: white !important;
    text-shadow: 2px 2px 2px purple;
    font-weight: 900 !important;
    font-size: 20px !important;
    
    
}


* { 
 

    &::-webkit-scrollbar { width: 100% !important; }
  
    &::-webkit-scrollbar-track { background: transparent !important; }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 4px !important;
      border: 2px solid black !important;
      background-color: white !important;
    }

    }