body {

    background: url('/img/background/vaporwave.gif');
    background-size: 150%;
}

.menuStyle {

    background: url('/img/menu/universe.gif');
    background-position-x: 20%;
    background-position-y: 20%;
    border-right: 1px solid white;
}

.devName {

    position: absolute;
    bottom: 0.5em !important;
    left: 5%;
    color: white;
    text-shadow: 2px 2px 2px #800080;
    font-weight: 900;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    padding: 10px;
}

.menuIcon {

    width: 30px;

}

.menuIconTitle {
    width: 40px;
    position: relative;
    left: 1%;
    bottom: 5px;
    transform:
    rotateX(51deg)
    rotateZ(43deg);
  transform-style: preserve-3d;

  box-shadow:
    1px 1px 0 1px #f9f9fb,
    -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    28px 28px 28px 0 rgba(34, 33, 81, 0.25);
  transition:
    .4s ease-in-out transform,
    .4s ease-in-out box-shadow;

  &:hover {
    transform:
      translate3d(0px, -16px, 0px)
      rotateX(51deg)
      rotateZ(43deg);
    box-shadow:
      1px 1px 0 1px #f9f9fb,
      -1px 0 28px 0 rgba(34, 33, 81, 0.01),
      54px 54px 28px -10px rgba(34, 33, 81, 0.15);
  }

}

.devNameSpan {
    position: absolute;
    font-size: 10px !important;    
    bottom: 1em !important;
}

a {

    color: white !important;
    text-shadow: 2px 2px 2px purple;
    font-weight: 900 !important;

}


.containerContent {

    display: flex;
    justify-content: center;
    margin-top: 1em;

}


.containerDevs {

    width: 100% !important;
    margin-top: 2em;
    padding-bottom: 30px !important;
    padding-left: 50px !important;
}

.imgStyle {

    width: 280px !important;
    height: 50vh;
    border: 1px solid white !important;
    outline: 2px solid rgb(255, 0, 255);
    box-shadow: -1px -1px -1px 1px  rgb(255, 0, 255);
    border-radius: 20px;
    padding: 3px;
}

.buttonSlideStyle {

    border: 1px solid white !important;
    color: white !important;
    box-shadow: 1px 1px 1px 1px transparent !important;
    z-index: 900 !important;
}

.buttonSlideStyle:hover {

    border: 1px solid white !important;
    color: rgb(255, 0, 255) !important;
    border: 1px solid transparent !important;
    box-shadow: 1px 1px 1px 1px rgb(255, 0, 255) !important;
}

/* @media only screen and (min-width: 554px) {
    .buttonSlideStyle:hover, .buttonSlideStyle:active {

        border: 1px solid white !important;
        color: rgb(255, 0, 255) !important;
        border: 1px solid transparent !important;
        box-shadow: 1px 1px 1px 1px rgb(255, 0, 255) !important;
    }
  } */

h2 {

    color: white;
    font-weight: 900 !important;
    text-shadow: 2px 2px 2px purple;

}